
name: Java CI/CD Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 20
      uses: actions/setup-java@v3
      with:
        java-version: '20'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package

    - name: Generate Javadoc
      run: mvn javadoc:javadoc

    - name: Run Tests and Generate Coverage
      run: mvn test

    - name: Run SpotBugs
      run: mvn spotbugs:spotbugs

    - name: Upload Javadoc
      uses: actions/upload-artifact@v4
      with:
        name: javadoc
        path: target/site/apidocs/

    - name: Upload Test Coverage
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: target/site/jacoco/

    - name: Upload SpotBugs Report
      uses: actions/upload-artifact@v4
      with:
        name: spotbugs-report
        path: target/spotbugsXml.xml

    - name: Upload JAR
      uses: actions/upload-artifact@v4
      with:
        name: java-ci-cd-jar
        path: target/*.jar
